.container-info {
    display: flex;
    width: 35%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.card-info {
    padding: 2rem;
    border-radius: 1rem;
    border-bottom: 8px solid #FF5733;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 1rem rgba(45, 45, 45, 0.1);

}

.name {
    font-size: 3rem;
    font-weight: bold;
    color: #FF5733;
}

.biography {
    font-size: 1.5rem;
    font-weight: bold;
    color: #454545;
}

@media (max-width: 768px) {
    .container-info {
        width: 100%;
    }

    .card-info {
        max-width: 100%;
    }

    .name {
        font-size: 2rem;
    }

    .biography {
        font-size: 1.2rem;
    }
}